<!-- routerLink="/" routerLinkActive="active" -->
<section class="page section-home">
  <ol>
    <li>Particles</li>
    <li><a href="2d">rotation in 2d</a></li>
    <li><a href="3d">rotation in 3d</a></li>
  </ol>
  <div id="dheeru-js"></div>
</section>

<hr />

<div
  class="container"
  style="border-radius: 50%"
  [style.--m]="list?.length"
  [style.--tan]="Math.tan(Math.PI / list?.length)"
  #container
  id="2d"
>
  <a style="--i: 1" *ngFor="let e of list; let i = index" [style.--i]="i + 1">
    {{ e }}
  </a>
</div>

<button (click)="changeView(container)">changeView</button>

<div class="alphabetContainer" id="3d">
  <div class="apphabetsContainer">
    <div class="apphabets" *ngFor="let e of list; let i = index">
      {{ e }}
    </div>
  </div>
</div>

<button (click)="changeOrientation()" style="margin-bottom: 100px">
  ChangeOrientation
</button>
